{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/static/aboutus.css">
    <title></title>
  </head>
  <body>

    <div class="mema">
      <div class="nav-bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="aboutus">Aboutus</a></li>
          <li><a href="chooseus">Chooseus</a></li>
          <li><a href="packages">Packages</a></li>

        </ul>
      </div>
    </div>
    <div class="title">
      <h1>About Us</h1>
    </div>
    <section>
    <div class="form-2">
      <div class="container">
    <div class="title-members">
      <h1>Team PUT TECH</h1>
    </div>
    <div class="row">
      <div class="for-column">
        <div class="card">
          <img src="static/jhonas.jpg" alt="" style="width:100%">
          <div class="name">
            <p>Jhonas G. Ramirez</p>
          </div>
        </div>
      </div>
      <div class="for-column">
        <div class="card">
          <img src="static/johnlloyd.jpg" alt="" style="width:100%">
          <div class="name">
            <p style="font-size: 1.1vw">JohnLloyd S. Lacadin</p>
          </div>
        </div>
      </div>
      <div class="for-column">
        <div class="card">
          <img src="static/viron.jpg" alt="" style="width:100%">
          <div class="name">
            <p>Viron L. Navarro</p>
          </div>
        </div>
      </div>
      <div class="for-column">
        <div class="card">
          <img src="static/jashmer.png" alt="" style="width:100%">
          <div class="name">
            <p>Jashmer R. Parinas</p>
          </div>
        </div>
      </div>
      <div class="for-column">
        <div class="card">
          <img src="static/jomari.jpg" alt="" style="width:100%">
          <div class="name">
            <p>Jomari S. Borje</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section>
    <div class="form">
      <div class="text">
        <p>A Put Tech Event Organizer Webpage and System is made by the students of
          Laguna State Polytechnic University, John Lloyd Lacadin, Jashmer Parinas,
          Jhonas Ramirez, Jomari Borje and Viron Navarro. The developers explored how
          events are done flawlessly and think of an idea of doing a system regarding that.
          The developers succeed doing a system that helps organizer to organize their events
          in a hassle-free way.</p>
          <p>This webpage is made for Educational Purposes only and doesn't violated any
            forms of plagiarism or any other. The system made for the fulfillment of
            their subject in ITEL 304 Integrative Programming 2.</p> <p><b>THIS WEBPAGE IS
            NOT FOR SALE.</b></p>
      </div>
      </div>
      </section>
  </body>
</html>
{% endblock %}
